.banner_container {
    position: relative;
    width: 100vw;
    z-index: -1;
}

.banner_container__img {
    height: 14.625rem;
    object-fit: cover;
    position: absolute;
    width: 26.75rem;
}

.slogan_container {
    color: $baseColor;
    padding: 4.125rem 3.5rem 5.625rem;
    position: absolute;
    width: 100vw;
}

.slogan_container__firstText {
    font-size: 52px;
    font-weight: 400;
    margin: 0 auto -28px;
    letter-spacing: 0px;
}

.slogan_container__secondText {
    font-family: $fontMonsterClubhouse;
    font-size: 52px;
    margin: 0 auto;
    font-weight: 400;
    letter-spacing: 0px;
}
