.container_footer {
    align-items: center;
    background: $bgFooterColor;
    display: flex;
    justify-content: center;
    margin: 3rem 0 0;
    height: 4.375rem;
    width: 26.75rem;
}

.container_sponsor {
    width: fit-content;
    height: 106px;
}

.container_text {
    color: $titleRecipeColor;
    font-family: "MonsterClubhouse";
    font-size: 23px;
    font-weight: 400;
}

@media (min-width: 768px) {
    .container_footer {
        margin-top: 5.375rem;
        width: 100vw;
    }

    .container_sponsor {
        width: 380px;
        height: 175px;
    }

    .container_text {
        font-size: 38px;
    }
}

@media (min-width: 1280px) {
    .container_footer {
        column-gap: 7.875rem;
        margin-top: 10rem;
        width: 100vw;
    }

    .container_sponsor {
        width: 536px;
        height: 248px;
    }

    .container_text {
        font-size: 56px;
    }
}