.nav {
    background: $baseColor;
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: 4.375rem;
    padding: .875rem 2rem .875rem 4.375rem;
    box-shadow: 0 3px 6px $boxShadow;
}

.nav__title_container {
    display: flex;
    align-items: center;
}

.nav__title_container__nav__recipe {
    color: $titleRecipeColor;
    font-family: $fontMonsterClubhouse;
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 1.15px;
}

.nav__title_container__nav__app {
    color: $titleComplementColor;
    font-family: $fontPoppins;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: .86px;
}

.nav_sections {
    display: none;
    cursor: pointer;

    :hover {
        color: $titleComplementColor;
    }
}

@media (min-width: 1280px) {
    .iconHome {
        display: none;
    }

    .nav_sections {
        align-items: center;
        column-gap: 2.875rem;
        display: flex;
        padding: 0 4rem;
    }
}