.cardsRecipes {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100vw;
    height: auto;
    margin: 0 auto;
    position: relative;
    column-gap: 24px;
}

.container {
    list-style: none;
    border-radius: 16px;
    background: $bodyCardColor;
    height: 13.75rem;
    width: 11.25rem;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0;
    box-shadow: $boxShadow;
}

.container_recipes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    height: 100%;
}

.container_recipes__recipe {
    position: relative;
    top: -26px;
    height: 108px;
    width: 112px;
    margin: 0 auto;
}

.container_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.container_info__title {
    color: $titleComplementColor;
    font-family: "MonsterClubhouse";
    font-size: 20px;
}

.container_info__ratings {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 8px;
    width: 100%;
}

.container_info__ratings_reaction {
    height: 18px;
    width: 18px;
}

.container_info__recipe {
    display: none;
}

@media (min-width: 768px) {
    .container {
        height: 16.875rem;
        width: 16.625rem;
    }

    .container_recipes__recipe {
        top: -36px;
        height: 158px;
        width: 164px;
    }

    .container_info__title {
        font-size: 30px;
    }

    .container_info__ratings {
        font-size: 20px;
    }
}

@media (min-width: 1280px) {
    .container {
        
        &:hover {
            height: auto;

            .container_info__title,
            .container_info__ratings {
                display: none;
            }

            .container_info__recipe {
                display: block;
            }

            .container_info {
                display: none;
            }

            .container_info__recipe {
                display: flex;
                flex-direction: column;
                padding-bottom: 8px;
            }

            .container_info__recipe_hover {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            .container_info__recipe_img {
                height: 16px;
                width: 16px;
            }

            .container_info__recipe_text {
                font-family: "MonsterClubhouse";
                font-size: 17px;
                color: $titleComplementColor;
            }

            .container_info_recipe_text_data {
                font-size: 15px;
                color: $titleRecipeColor;
            }
        }
    }
}