.cardsRecipes {
    column-gap: 1.5rem;
    display: flex;
    align-items: center;
    margin: 0 auto;
    overflow-x: scroll;
    width: 100vw;
}

.cardsRecipes::-webkit-scrollbar {
    display: none;
}

.container_recipe_image {
    display: flex;
    justify-content: center;
    width: 11.25rem;
    z-index: 999;
    position: relative;
    margin: 0 0 -52px;
}

.recipe_image {
    height: 106px;
    width: 110px;
}

.recipe_container {
    background: $bodyCardColor;
    box-shadow: $shadowCard;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    row-gap: 3rem;
    width: 11.25rem;
    height: 11.375rem;
    border-radius: 10px;
    position: relative;
    padding: 5.25rem .5rem .75rem;
}

.recipe_title {
    color: $titleComplementColor;
    font-size: 20px;
    letter-spacing: -0.4px;
}

.title_complement {
    font-family: "MonsterClubhouse";
}

.recipe_rating {
    font-size: 17px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.recipe_rating__icons {
    display: flex;
    height: 1.5rem;
    align-items: center;
    column-gap: 4px;
}