@import "typography";

/* fonts */
$fontPoppins: "Poppins", sans-serif;
$fontMonsterClubhouse: "MonsterClubhouse";

/* colors */
$baseColor: #fff;
$titleComplementColor: #d84a4a;
$bodyCardColor: linear-gradient(180deg, rgba(233, 241, 250, 1) 0%, rgba(255, 255, 255, 1) 100%);
$bgFooterColor: #c2e3f3;
$titleRecipeColor: #425966;
$boxShadow: #8395A7;

/* shadows */
$shadowCard: 0px 5px 9px #8395A766;